parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \=\=\= between 200 and 200 will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: _admin/Admin.php

		-
			message: '#^Call to function is_int\(\) with int will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: _admin/Nino/Modules/Language/Translations/Translations.php

		-
			message: '#^Offset ''/nino/http/routes'' on array\{''/nino/modules''\: array\{''\\\\Nino\\\\Modules\\\\Assets'', ''\\\\Nino\\\\Modules…'', ''\\\\Nino\\\\Modules…'', ''\\\\Nino\\\\Modules\\\\Jstext'', ''\\\\Nino\\\\Modules\\\\Csrf'', ''\\\\Nino\\\\Modules…'', ''\\\\Nino\\\\Modules\\\\Cache''\}, ''/nino/cache/status''\: false, ''/nino/cache/ttl''\: 3600, ''/nino/cache/blacklist''\: array\{\}, ''/nino/admin/backups''\: true, ''/nino/admin/logs''\: true, ''/nino/dir''\: '''', ''/nino/error/log''\: true, \.\.\.\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: _admin/install/Install.php

		-
			message: '#^Strict comparison using \!\=\= between true and false will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: _nino/Nino/AppData/AppData.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: _nino/Nino/AppData/AppData.php

		-
			message: '#^Comparison operation "\<\=" between int\<min, 0\> and int\<1, max\> is always true\.$#'
			identifier: smallerOrEqual.alwaysTrue
			count: 1
			path: _nino/Nino/Auth/Auth.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: _nino/Nino/Auth/Auth.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 10
			path: _nino/Nino/Elements/Elements.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 2
			path: _nino/Nino/Features/Features.php

		-
			message: '#^Call to an undefined method DOMNode\:\:getAttribute\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: _nino/Nino/Html/Html.php

		-
			message: '#^Offset ''\./nino/html…'' on non\-empty\-array on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: _nino/Nino/Html/Html.php
