
@font-face {
	font-family: 'Text';
	font-style: normal;
	font-weight: normal;
	src: local('Text Regular'), url('/fonts/text/source-sans-3-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Text';
	font-style: bold;
	font-weight: bold;
	src: local('Text Bold'), url('/fonts/text/source-sans-3-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Title';
	font-style: bold;
	font-weight: bold;
	src: local('Title'), url('/fonts/title/bebas-neue.woff2') format('woff2');
}

:root {
	--color-primary: #5f8ca4;
	--color-primary-text: #FFFFFF;
	--color-secondary: #5e58f5;
	--color-text: #525258;
	--color-title: #02041d;
	--color-subtitle: var(--color-primary);
	--color-background: #fcfcf9;
	--color-header-bg: var(--color-background-dim);
	--color-footer-bg: #1c1917;
	--color-footer-text: #9ca3af;
	--color-border: rgba(200,200,200,.5);
	--color-background-dim: #2b3a42db;
	--color-section-default-bg: #fcfcf9;
	--color-section-default-text: #222222;
	--color-section-alt-bg: #eef4f7;
	--color-section-alt-text: #111111;
	--color-section-dark-bg: #1a1f22;
	--color-section-dark-text: #e7e7d8;
	--color-section-black-bg: #0a0e1a;
	--color-section-black-text: #FFF;
	--color-error: #f44336;
	--color-success: #4caf50;

	--fontfamily-text: 'Text';
	--fontfamily-title: 'Title';
	--fontfamily-subtitle: 'Text';
	--base-size: 16px;
	--line-height: 1.5;
	--fontsize-small: .75em;
	--fontsize-big: 1.25em;
	--fontsize-btn: 1rem;

	--text-1: 1rem;
	--text-2: 1.125rem;
	--text-3: 1.25rem;
	--text-4: 1.4rem;
	--text-5: 2rem;
	--text-6: 2.5rem;

	--space-1: .5rem;
	--space-2: 1.1rem;
	--space-3: 1.4rem;
	--space-4: 2.2rem;
	--space-5: 3rem;
	--space-6: 4.4rem;

	--article-img-max-width: 12vw;
	--article-img-max-height: 20vh;
	--grid-max-width: 100rem;
	--radius: 0rem;
	--radius-small: 0rem
}
@media (min-width: 768px){
  :root{
	--base-size: 16px;
	--text-3: 1.8rem;
	--text-4: 2.6rem;
	--text-5: 3.4rem;
	--text-6: 4.5rem;
  }
}

header .ui-logo {
	background-image:url([[/nino/dir]]/images/.demo/logo-invert.png);
}

.ui-btn {
	font-weight:normal;
}


header .sc-nav-content li a {
	letter-spacing: .05em;
	font-size: .9rem;
	padding:1rem .5rem;
}
header .sc-nav-content li a.active {
	color: var(--color-primary);
}