
@font-face {
	font-family: 'Text';
	font-style: normal;
	font-weight: normal;
	src: local('Text Regular'), url('[[/nino/public]]/fonts/text/open-sans-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Text';
	font-style: bold;
	font-weight: bold;
	src: local('Text Bold'), url('[[/nino/public]]/fonts/text/open-sans-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Title';
	font-style: bold;
	font-weight: bold;
	src: local('Title Bold'), url('[[/nino/public]]/fonts/title/league-spartan.woff2') format('woff2');
}

:root {
	--color-primary: #4faae8;
	--color-primary-text: #ffffff;
	--color-secondary: var(--color-primary);
	--color-text: #333333;
	--color-title: var(--color-primary);
	--color-subtitle: var(--color-text);
	--color-background: #ffffff;
	--color-header-bg: var(--color-background-dim);
	--color-footer-bg: #1c1917;
	--color-footer-text: #9ca3af;
	--color-border: rgba(200,200,200,.5);
	--color-background-dim: #353943bf;
	--color-section-default-bg: #ffffff;
	--color-section-default-text: #222222;
	--color-section-alt-bg: #eeeeee;
	--color-section-alt-text: #111111;
	--color-section-dark-bg: #353943;
	--color-section-dark-text: #ffffff;
	--color-section-black-bg: #0a0e1a;
	--color-section-black-text: #ffffff;
	--color-error: #f44336;
	--color-success: #4caf50;

	--fontfamily-text: 'Text';
	--fontfamily-title: 'Title';
	--fontfamily-subtitle: 'Text';
	--base-size: 16px;
	--line-height: 1.5;
	--fontsize-small: .75em;
	--fontsize-big: 1.25em;
	--fontsize-btn: .9rem;

	--text-1: 1rem;
	--text-2: 1.125rem;
	--text-3: 1.25rem;
	--text-4: 1.5rem;
	--text-5: 1.8rem;
	--text-6: 2.5rem;

	--space-1: .75rem;
	--space-2: 1.5rem;
	--space-3: 2rem;
	--space-4: 3rem;
	--space-5: 5rem;
	--space-6: 8rem;

	--article-img-max-width: 12vw;
	--article-img-max-height: 20vh;
	--grid-max-width: 120rem;
	--radius: 1.5rem;
	--radius-small: .5rem
}
@media (min-width: 768px){
  :root{
	--base-size: 18px;
	--text-4: 2rem;
	--text-5: 3.5rem;
	--text-6: 4rem;
  }
}

.ui-section-title {
	text-transform:uppercase;
}


header .ui-logo {
	background-image:url([[/nino/public]]/images/logo-invert.png);
}

header .sc-nav-content li a {
	color: var(--color-primary-text);
	letter-spacing: .05em;
	font-size: .9rem;
	padding:1rem .5rem;
}
header .sc-nav-content li a.active {
	color: var(--color-primary);
}
@media (min-width: 768px){
	header {
		border-bottom: 1px solid var(--color-border);
	}
	body.js-scroll-atf .js-scroll-header {
		padding-top:var(--space-2);
	}
}